.btn {
	height: 32px;
	/* width: 150px; */
    padding:  0px 25px;
	border-radius: 10px;
	border: 1px solid #FF004E;
	background-color: transparent;
	color: #FF004E;
	font-size: 16px;
	cursor: pointer;
	line-height: 16px;
}

.btn:hover {
	border-color: #e60045;
	color: #e60045;
}